body{
    background-color: rgb(224, 217, 173);
}


.flexbox-container{
    background-color: rgb(69, 94, 19);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    

}

.box{
width: 200px;
margin: 10px;
border: 3px solid black;
background-color: whitesmoke;
}


.box-1{
min-height: 100px;
flex-shrink: 0;



}

.box-2{
min-height: 200px;


}


.box-3{
min-height: 300px;


}


.felxbox-container2{
    background-color: yellowgreen;
    width: 300px;

}

.box-4{
    min-height: 150px;
    
    
    

}
.img{
    min-height: 250px;
    flex-grow: 2;
    
}



.box-5{
    min-height: 250px;


}


.box-6{

    min-height: 350px;


}